<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        @*<i class="fa fa-bars"></i>*@
                        <span>All departments</span>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <ul>
                        <li><a href="#">Baby</a></li>
                        <li><a href="#">Bakery & Dry Goods</a></li>
                        <li><a href="#">Beverages</a></li>
                        <li><a href="#">Can &amp; Jar Goods</a></li>
                        <li><a href="#">Condiments</a></li>
                        <li><a href="#">Dairy</a></li>
                        @*<li><a href="#">Dry Goods</a></li>*@
                        <li><a href="#">Frozen</a></li>
                        <li><a href="#">Meat &amp; Fist</a></li>
                        <li><a href="#">Produce</a></li>
                        <li><a href="#">Non-Food</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            @* Below is a dropdown at beginning of search bar *@
                            @*<div class="hero__search__categories">
                                    All Categories
                                    <span><i class="fa fa-chevron-down"></i></span>
                                </div>*@
                            <input type="text" placeholder="What are you looking for?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>

                </div>
                <div class="hero__item set-bg" data-setbg="/../Content/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
